header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-Color: #ab2a19;
  font-size: 20px;
  color: white;
}
img
{
  height: 65%;
  margin-left: 40px;
  margin-right: 25px;
}
.tot
{
  height: 100%;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-family: sans-serif;
}

